/* src/assets/css/AddAddress.css */

.add-address-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    padding: 20px;
    background: url("../../assets/images/addaddress.jpg") no-repeat center center fixed; /* Background image */
    background-size: cover; /* Ensure the image covers the entire background */
}

.add-address-form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for readability */
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: fixed; /* Fix position so it does not move while scrolling */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize; /* Capitalize only the first letter */
    margin-bottom: 20px;
}

.add-address-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-address-form input {
    margin-bottom: 15px; /* Increased space between inputs */
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for focus and hover */
}

.add-address-form input:focus {
    border-color: #3c69ca; /* Green border on focus */
    outline: none;
    box-shadow: #3c69ca; /* Shadow effect on focus */
}

.add-address-form button {
    background-color: #3c69ca; /* Green color */
    color: #ffffff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: var(--radius);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add scale effect on hover */
}

.add-address-form button:hover {
    background-color:#3c69ca; /* Darker green for hover effect */
    transform: scale(1.05); /* Slightly increase size on hover */
}