.convert-coins {
  font-family: 'Arial', sans-serif;
  color: #3c69ca;
  padding: 20px;
  background: #faf9f9;
}

.convert-form {
  background: #f8f6f6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(253, 252, 252, 0.1);
  display: flex;
  flex-direction: column;
}

.input-field {
  border: 2px solid #3c69ca;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 22px);
  font-size: 16px;
}

.action-button {
  background: linear-gradient(135deg, #3c69ca, #3c69ca);
  color: rgb(241, 236, 236);
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  width: 88%;
  transition: background 0.3s ease;
  margin: 5;
}

.action-button:hover {
  background: linear-gradient(135deg, #3c69ca, #3c69ca);
}

.payment-options {
  margin-top: 20px;
}

.payment-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-card {
  display: flex;
  align-items: center;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.payment-card:hover {
  border-color: #3c69ca;
}

.payment-card input {
  margin-right: 10px;
}

.payment-card label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.payment-card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.payment-card span {
  font-size: 18px;
  font-weight: bold;
}