.footer {
    background: #f6f0f0; /* Light green background */
    color: #131213; /* Dark grey text */
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px 20px;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #050505; /* Dark green for logo */
  }
  
  .logo-text span {
    color: #050405; /* Dark grey for 'It' */
  }
  
  .contact span {
    display: block;
    margin: 10px 0;
  }
  
  .footer-section.links ul {
    list-style: none;
  }
  
  .footer-section.links ul a {
    text-decoration: none;
    color: #0c0c0c; /* Dark green for links */
    display: block;
    margin: 10px 0;
  }
  
  .footer-section.links ul a:hover {
    color: #0c0c0c; /* Darker green on hover */
  }
  
  .social-links a {
    color: #060606; /* Dark green for social media icons */
    margin: 0 10px;
    font-size: 1.5rem;
  }
  
  .social-links a:hover {
    color: #080808; /* Darker green on hover */
  }
  
  .footer-bottom {
    background: #cce4d6; /* Slightly darker green */
    color: #070707; /* Dark grey text */
    padding: 10px 0;
    font-size: 0.9rem;
  }
  