/* assets/styles/ForgotPassword.css */

.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background: url('../../assets/images/green1.avif') no-repeat center center;
    background-size: cover;
  }
  
  .forgot-password-container {
    display: flex;
    width: 1000px; /* Fixed width for the container */
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/login.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .image-section img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px 0 0 8px; /* Rounded corners on the left side */
  }
  
  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
  }
  
  .form-section h2 {
    color: #a01e70;
    text-align: center;
    margin-bottom: 50px; /* Increased bottom margin for better spacing */
  }
  
  .form-group {
    margin-bottom: 20px; /* Increased bottom margin for better spacing */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px; /* Increased bottom margin for better spacing */
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px; /* Increased padding for input fields */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #a42444;
    color: white;
    border: none;
    padding: 12px 15px; /* Increased padding for the button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 40px; /* Increased margin-top for better spacing */
  }
  
  button:hover {
    background-color: #af2662;
  }