/* assets/styles/Login.css */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ebe4e4; /* Light background for the entire page */
  background: url('../../assets/images/green1.avif');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  display: flex;
  background-color: white;
  width: 1000px; /* Fixed width for the container */
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-image {
  width: 50%; /* Equal width for the image container */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f2f2; /* Background color to make it visible */
}

.login-image img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensure the image fits within its container */
  border-radius: 8px 0 0 8px; /* Rounded corners on the left side */
}

.login-form {
  width: 50%; /* Equal width for the form container */
  padding: 100px 60px; /* Padding around the form */
  gap: 40px;
  box-sizing: border-box;
}

.login-form h2 {
  color: #3c69ca;
  text-align: center;
  margin-bottom: 50px; /* Increased bottom margin for better spacing */
}

.form-group {
  margin-bottom: 20px; /* Increased bottom margin for better spacing */
}

.form-group label {
  display: block;
  margin-bottom: 8px; /* Increased bottom margin for better spacing */
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px; /* Increased padding for input fields */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #3c69ca;
  color: white;
  border: none;
  padding: 12px 15px; /* Increased padding for the button */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 40px; /* Increased margin-top for better spacing */
  margin-left: 10px;
}

button:hover {
  background-color: #3c69ca;
}

.login-links {
  margin-top: 30px; /* Increased margin-top for better spacing */
  text-align: center;
}

.login-links a {
  color: #3c69ca;
  text-decoration: none;
  margin: 0 15px; /* Increased margin for links */
  font-size: 14px;
}

.login-links a:hover {
  text-decoration: underline;
}
