/* Navbar.css */

.navbar {
    background-color: #A1D6E2(14, 13, 13); /* White background */
    color: #A1D6E2; /* Green font color */
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px; /* Adjust as needed */
    justify-content: space-between; /* Ensure space between title and items */
    box-shadow: 5px 2px 2px #A1D6E2(170, 21, 133);
  }
  
  .navbar .title {
    color: #1995AD; /* Green font color */
    font-size: 27px;
    margin-right: auto; /* Pushes the nav items to the right */
    white-space: nowrap;
    font-weight: bolder;
  }
  
  .navbar .nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar .nav-items li {
    margin: 0 10px;
    font-size: larger;
    font-weight: 700;
  }
  
  .navbar .nav-items li a {
    display: block;
    color:  #66A5AD; /* Green font color */
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .navbar .nav-items li a:hover, .navbar .nav-items li .dropdown:hover .dropbtn {
    background-color: #C4DFE6, #66A5AD; /* Light gray background on hover */
    color: #66A5AD; /* Green font color on hover */
  }
  
  .navbar .nav-items li .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .navbar .nav-items li .dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /* White background */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navbar .nav-items li .dropdown-content a {
    color: #ac1362; /* Green font color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .navbar .nav-items li .dropdown-content a:hover {
    background-color: #f1f1f1; /* Light gray background on hover */
  }
  
  .navbar .nav-items li .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .fa-user {
    font-size: 18px;
    color: #A1D6E2; /* Green font color */
    
  }
  